MotoGP-Desktop/xml/circuito.dtd

<!ELEMENT circuito (nombre, distancia, anchura, fecha, hora_inicio, vueltas, localidad, pais, patrocinador, referencias, galeria, videos, coordenadas, resultado)>

<!ELEMENT nombre (#PCDATA)>
<!ELEMENT distancia (#PCDATA)>
<!ATTLIST distancia unidad CDATA #REQUIRED>

<!ELEMENT anchura (#PCDATA)>
<!ATTLIST anchura unidad CDATA #REQUIRED>

<!ELEMENT fecha (#PCDATA)>
<!ELEMENT hora_inicio (#PCDATA)>
<!ATTLIST hora_inicio zona CDATA #REQUIRED>

<!ELEMENT vueltas (#PCDATA)>
<!ELEMENT localidad (#PCDATA)>
<!ELEMENT pais (#PCDATA)>
<!ELEMENT patrocinador (#PCDATA)>

<!-- Referencias -->
<!ELEMENT referencias (referencia+)>
<!ELEMENT referencia (#PCDATA)>

<!-- Galería -->
<!ELEMENT galeria (foto+)>
<!ELEMENT foto EMPTY>
<!ATTLIST foto nombre CDATA #REQUIRED>

<!-- Videos -->
<!ELEMENT videos (video+)>
<!ELEMENT video EMPTY>
<!ATTLIST video nombre CDATA #REQUIRED descripcion CDATA #REQUIRED>

<!-- Coordenadas y tramos -->
<!ELEMENT coordenadas (origen, tramos)>

<!ELEMENT origen (latitud, longitud, altitud)>
<!ELEMENT latitud (#PCDATA)>
<!ELEMENT longitud (#PCDATA)>
<!ELEMENT altitud (#PCDATA)>

<!ELEMENT tramos (tramo+)>

<!ELEMENT tramo (distancia, coordenadas_finales, sector)>
<!ELEMENT coordenadas_finales (latitud, longitud, altitud)>
<!ELEMENT sector EMPTY>
<!ATTLIST sector numero CDATA #REQUIRED>

<!-- Resultado -->
<!ELEMENT resultado (vencedor, clasificacion_mundial)>
<!ELEMENT vencedor (#PCDATA)>
<!ATTLIST vencedor tiempo CDATA #REQUIRED>

<!ELEMENT clasificacion_mundial (puesto+)>
<!ELEMENT puesto (#PCDATA)>
<!ATTLIST puesto numero CDATA #REQUIRED>
